/ssh/.ssh/id_rsa
/ssh/.ssh/work_rsa
/ssh/.ssh/known_hosts

/kak/.config/kak/plugins/*

/mpv/.config/mpv/watch_later

/vscode/.vscode-oss/extensions/vscode-wal/themes/vs-wal-color-theme.json
/vscode/.vscode-oss/extensions/vscode-wal-light/themes/vs-wal-color-theme.json


/wpg/.config/wpg/formats
/wpg/.config/wpg/samples

/rofi/.config/rofi/config

/alacritty/.config/alacritty/alacritty.yml

/waybar/.config/waybar/wpg.css

/firefox/.mozilla/firefox/developer-edition/chrome/wpg.css

/sway/.local/share/screenshot

/go/.local/go/*
